:root{
    --color-principal: #cc0033;
    --color-secundario: #f2f2f2;
}

#h2-recorrido {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.form-select {
    background-color: var(--color-secundario);
    border: 1px solid var(--color-principal);
    box-shadow: none;
}

.form-select:focus {
    border-color: var(--color-principal) ;
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 51, 0.25) ;
}